<template>
	<div class="page no-swipeback">

		<div class="navbar">
			<div class="navbar-inner">
				<!-- <div class="title">
					<img class="theme-light-only" src="assets/custom/img/konbini-logo.svg" height="24" alt="" />
				</div> -->
				<img class="theme-light-only" src="assets/custom/img/konbini-logo.svg" height="24" alt="" />
			</div>
		</div>

		<div class="page-content">

			<div class="slider-hero">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="imgBtn">
								<img src="./assets/custom/food/f1.jpg">
							</div>
							<div class="details">
								<h3>Product Name</h3>
								<span>$15.00</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="imgBtn">
								<img src="./assets/custom/food/f2.jpg">
							</div>
							<div class="details">
								<h3>Product Name</h3>
								<span>$15.00</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="imgBtn">
								<img src="./assets/custom/food/f3.jpg">
							</div>
							<div class="details">
								<h3>Product Name</h3>
								<span>$15.00</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="imgBtn">
								<img src="./assets/custom/food/f4.jpg">
							</div>
							<div class="details">
								<h3>Product Name</h3>
								<span>$15.00</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="imgBtn">
								<img src="./assets/custom/food/f5.jpg">
							</div>
							<div class="details">
								<h3>Product Name</h3>
								<span>$15.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{#if business}}
            <div class="card">
                <div class="card-header justify-content-space-between">
                    <span>Promotions</span>
                    <a href="#">View All</a>
                </div>
                <div class="card-content card-content-padding">
                    <div class="photo-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {{#each business.photos}}
                                <div class="swiper-slide">
                                    <div class="slide-media">
                                        <img class="img-responsive" src="{{this.url}}" alt="" />
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header justify-content-space-between">
                    <span>Popular Products</span>
                    <a href="#">View All</a>
                </div>
                <div class="card-content card-content-padding">
                    <div class="photo-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {{#each business.photos}}
                                <div class="swiper-slide">
                                    <div class="slide-media">
                                        <img class="img-responsive" src="{{this.url}}" alt="" />
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/if}}

		</div>

	</div>
</template>

<style scoped>
	.slider-hero .swiper-container {
		/* height: 352px;
		height: 50vh; */
		width: 100%;
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.slider-hero .swiper-slide {
		/* box-sizing: border-box;
		padding: 16px; */
		background-position: center;
		background-size: cover;
		width: 250px;
		height: 250px;
	}

	.swiper-slide .imgBtn {
		width: 100%;
		height: 200;
		overflow: hidden;
	}

	.swiper-slide .imgBtn img {
		width: 100%;
	}

	.swiper-slide .details {
		box-sizing: border-box;
		padding: 10px;
		margin-top: 0px;
	}

	.swiper-slide .details h3{
		margin: 0;
		padding: 0;
		font-size: 20px;
		line-height: 20px;
	}

	.swiper-slide .details span{
		color: red;
	}
</style>

<script>
	return {
		data: function () {
			return {
				sliderHero: null,
				business: null,
			}
		},
		methods: {
			showToolbar: function () {
				var self = this;
				setTimeout(function () {
					self.$('.toolbar').removeClass('toolbar-hidden');
				});
			},
			loadData: function(){
				var self = this;

				app.request.json(
                    'assets/custom/dataset/business.json',
                    function (data) {
                        if (data) {
                            self.$setState({
                                business: data
                            });
                            self.initializePhotos();
                        }
                    }
                );
			},
			initializePhotos: function () {
                var self = this;
                app.swiper.create('.photo-gallery .swiper-container', {
                    centeredSlides: true,
                    grabCursor: true,
                    initialSlide: 3,
                    loop: true,
                    slidesPerView: 2,
                    spaceBetween: 16
                });
                self.$('.photo-gallery .slide-media img').on('click', function () {
                    var currentSlide = self.$('.photo-gallery .slide-media img').parent().parent('.swiper-slide-active').data('swiper-slide-index');
                    var photoBrowser = app.photoBrowser.create({
                        photos: self.business.photos,
                        swiper: {
                            initialSlide: currentSlide
                        },
                        theme: app.utils.theme.getLayout()
                    });
                    photoBrowser.open();
                });
            },			
			initializeSliderHero: function () {
				var self = this;
				self.sliderHero = app.swiper.create('.slider-hero .swiper-container', {
					autoplay: {
						delay: 3000,
						disableOnInteraction: false
					},
					centeredSlides: true,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 60,
						stretch: 0,
						depth: 500,
						modifier: 1,
						slideShadows: true
					},
					grabCursor: true,
					loop: true,
					slidesPerView: 'auto'
				});
			}
		},
		on: {
			pageInit: function () {
				var self = this;
				self.showToolbar();
				self.loadData();
				self.initializeSliderHero();
			}
		}
	}
</script>