<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="right">
                    <a href="#" class="link back">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="block text-align-center">
                <i class="fa-stack fa-2x tooltip-init" data-tooltip="Loyalty">
                    <span class="fas fa-circle fa-stack-2x brand-color-strava"></span>
                    <span class="fas fa-gem fa-stack-1x fa-inverse"></span>
                </i>
            </div>
            <div class="block text-align-center">
                Spend $1 to earn 10 points<br>
                Redeem $1 of your next order with 50 points<br>
                Track your progress
            </div>
            <div class="block">
                <div class="progressbar progressbar-determinate-inline color-red" data-progress="40"></div>
                <p class="row">
                    <span>0</span>
                    <span>1000</span>
                </p>
            </div>
            <div class="block">
                <span>Redeem points: <red>
                        <bold>$xx.xx</bold>
                    </red></span>
            </div>
            <div class="block">
                <div class="col">
                    <button class="button button-big button-fill button-raised">Tap here to Redeem</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    return {
        data: function () {
            return {

            }
        },
        methods: {
            loadData: function () {
                var self = this;

            },

        },
        on: {
            pageInit: function () {
                var self = this;
                //self.loadData()
            }
        }
    }
</script>