<template>
	<div class="page no-swipeback">

		<div class="navbar">
			<div class="navbar-inner">
				<img class="theme-light-only" src="assets/custom/img/konbini-logo.svg" height="24" alt="" />
				<div class="right">
					<a href="#" class="link icon-only">
						<i class="icon material-icons">shopping_cart<span class="badge color-red">1</span></i></a>
					<span class="text-color-red">$15.00</span>
				</div>
				<div class="subnavbar">
					<div class="subnavbar-inner" style="justify-content: center;">
						<div class="row" style="align-content: center;">
							<div class="col">
								<div class="item-inner">
									<div class="item-title item-label">Date</div>
									<div class="item-input-wrap">
										<input type="date" name="pickDate" value="2019-11-02" />
									</div>
								</div>
							</div>
							<div class="col">
								<div class="item-inner">
									<div class="item-title item-label">Session</div>
									<div class="item-input-wrap input-dropdown-wrap">
										<select>
											<option value="1">Session 1</option>
											<option value="2">Session 2</option>
											<option value="3">Session 3</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col" style="margin-top: 5px;">
								<div class="item-inner">
									<button type="button"
										class="button button-small button-round button-fill">Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="page-content">
			<div class="toolbar tabbar tabbar-scrollable tabbar-sticky">
				<div class="toolbar-inner categoriesFont">
					<a href="#tab-pizza" class="tab-link tab-link-active">Pizzas</a>
					<a href="#tab-drink" class="tab-link">Drinks</a>
					<a href="#tab-cake" class="tab-link">Cakes</a>
					<a href="#tab-food" class="tab-link">Foods</a>
				</div>
			</div>
			<div class="tabs">
				<div id="tab-pizza" class="tab tab-active">
					<div class="list media-list no-hairlines no-hairlines-between margin-vertical descriptionFont">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Product 1</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="item-link tooltip-init popup-open"
													data-popup=".popup-addToCart" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Product 2</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="/orders/options" class="link tooltip-init"
													data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media"><img
											src="https://images.foody.vn/res/g79/785913/s570x570/8d125f53-e2eb-4d3c-a994-af251ae25c26.jpg"
											width="80" /></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Pizza Hải Sản</div>
											<div class="item-title" style="font-weight: bold;">$15.00</div>
										</div>
										<div class="item-subtitle">Pizzas</div>
										<div class="item-row">
											<div class="item-text">Desscription about Pizza. Desscription about
												Pizza.
												Desscription
												about Pizza. Desscription about Pizza. Desscription about Pizza.
											</div>
											<div class="item-after" style="color: red; font-weight: bold;">
												<a href="#" class="link tooltip-init" data-tooltip="Add to Cart">
													<i class="fas fa-fw fa-lg fa-cart-plus text-color-red"></i></a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>

				<div id="tab-drink" class="tab">

				</div>
				<div id="tab-cake" class="tab">

				</div>
				<div id="tab-food" class="tab">

				</div>
			</div>


		</div>
		<div class="popup popup-tablet-fullscreen popup-addToCart">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="right">
								<a href="#" class="link icon-only popup-close" data-popup=".popup-addToCart">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">
							<div class="block">
									<img class="img-center img-responsive" src="assets/custom/food/f1.jpg" alt="" />
								</div>
					
								<div class="block">
									<p>At our company, there are always opportunities for people who can think out of the box, take initiatives and also roll up their sleeves to get the job done.</p>
								</div>
					
								<div class="line-divider text-uppercase">Benefits</div>
								<div class="list media-list no-hairlines no-hairlines-between">
									<ul>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
														<span class="far fa-clock fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Flexible Hours</div>
													</div>
													<div class="item-text">We value results, not face time.</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-orange ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-orange md-only"></span>
														<span class="fas fa-carrot fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Healthy Food</div>
													</div>
													<div class="item-text">Enjoy healthy and delicious catered lunches plus great free snacks and drinks.</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-yellow ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-yellow md-only"></span>
														<span class="fas fa-code fa-stack-1x fa-inverse text-color-black"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Hackathons</div>
													</div>
													<div class="item-text">Work on whatever you are most passionate about every month. Learn, build and become better.</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-pink ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-pink md-only"></span>
														<span class="fas fa-glass-cheers fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Team Hangouts</div>
													</div>
													<div class="item-text">Join the team for weekly hangouts and monthly fun activities.</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-red ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-red md-only"></span>
														<span class="fas fa-heartbeat fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Health Insurance</div>
													</div>
													<div class="item-text">You are covered with extensive health, dental, and vision insurance, so you can focus on your work.</div>
												</div>
											</div>
										</li>
										<li>
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack fa-lg">
														<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
														<span class="fas fa-shield-alt fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">Life Insurance</div>
													</div>
													<div class="item-text">You and your family are safe and covered in extreme cases of emergency.</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<style scoped>
	
</style>

<script>
	return {
		data: function () {
			return {
			}
		},
		methods: {
			showToolbar: function () {
				var self = this;
				setTimeout(function () {
					self.$('.toolbar').removeClass('toolbar-hidden');
				});
			},
			addToCart: function () {
				var self = this;
				app.toast.show({
					icon: '<i class="fas fa-fw fa-lg fa-cart-plus"></i>',
					text: 'Added to Cart',
					position: 'bottom',
					cssClass: 'toast-round bg-color-green'
				});
			}
		},
		on: {
			pageInit: function () {
				var self = this;
				//self.showToolbar();
			},
			// pageBeforeIn: function () {
			// 	var self = this;
			// 	$('.swiper-container').each(function () {
			// 		this.swiper.destroy();
			// 	})
			// 	console.log('pageBeforeIn')
			// }
		}
	}
</script>